@import "../../styles.scss";

div{
    color: $backgroundColor;
    flex: auto;
}

.card{
    height: 100%;
    display:flex;
    flex-direction: column;

    border:0px solid transparent;
    border-radius: 20% 20% 0% 0%;

    overflow:hidden;

    background-color: $backgroundColor;

}



.header{
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    flex: 1;

    .name{
        flex: 2;
    }
    .difficulty{
        flex: 1;
    }

    p{
        margin: 0;
        padding: 0;
    }

    :nth-child(2){
            p{
            text-align: right;
        }
    }
    
}

.top{
    max-height: 40%;
}

img{
    min-width: 100%;
   // max-height: 480px;
   // width: auto;
   height: 100%;
   object-fit: cover;
}

.time{
    display:flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 0px;

    width: 4vh;
    height: 4vh;
    background-color: $recipeCardRed;
    border: 2px solid $backgroundColor;
    border-radius: 50%;
        p{
            display: block;
            text-align: center;
            
            padding: 0;
            margin:0;

            background-color: $recipeCardRed;
        } 
}

.content{
    display: flex;
    flex-direction: column;
    overflow:hidden;
    padding: 5px 10px;
    
    border-top: 1px solid $backgroundColor;
    background-color: $recipeCardRed;
    
}

.tags{
    margin-top: 5px;
    flex: 2;
    display: flex;
    span{
        flex: 1;
        text-align: center;
    }
}
.description{
    flex: 4;
    overflow:hidden;
    p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}
.foot{
    flex: 1;
}

.difficulty{
    text-align: right;
}

.star-empty::before{
    content:'\2605';

    color:$backgroundColor;
}

.star-full::before{
    content:'\2606';

    color:$backgroundColor;
}

.star-empty, .star-full{
    display:inline;
    flex: 1;
    height:20px;
    max-width: 25px;
    font-size: 25px;
    line-height: 20px;
    text-align: right;
}