<div class="time">
    <p>
        {{this.recipe.caspriprave}}
    </p>
</div>
<div class="card"
    [routerLink]="['/recipe/' + this.recipe.idrecepta]">
    <div class="top">
        <img src={{this.recipe.localImageLocation}} class="recipeImage">
    </div>
    <div class="content">
        <div class="header">
            <div class="name">{{this.recipe.ime}}</div>
            <div class="difficulty"><p>{{this.recipe.zahtevnost.naziv}}</p></div>
        </div>
        <div class="tags">
            <span *ngIf="this.recipe.priprave && this.recipe.priprave.length > 0 && this.recipe.priprave[0].naziv != ''">{{this.displayedPreparationType}}</span> <span *ngIf="this.recipe.sestavine && this.recipe.sestavine.length > 0">{{this.displayedIngredient}}</span>
        </div>
        <div class="description">
            <p>{{this.recipe.opis}}</p>
        </div>
        <div class="foot">

        </div>
    </div>
</div>
