<!--  -->
<div class="horizontalGrid">
        <div class="nameContainer">
            <div></div>
            <div class="name">
                <p class="title">
                    {{this.recipe.ime}}   
                </p>
            </div>
        </div>
        <div class = "leftContentContainer">
            <div></div>
            <div class="leftContent">
                <div class="imageContainer">
                    <img src={{this.recipe.localImageLocation}}>
                </div>
                <div class="description">
                    <p>
                        {{this.recipe.opis}}
                    </p>
                </div>
            </div>
        </div>
        <div class = "rightSpace"></div>

        <div class="rightContentContainer">
            <div>
            </div>
            <div class="rightContent">
                <div class="row">
                    <div *ngIf="this.recipe.diets && this.recipe.diets.length > 0 && this.recipe.diets[0] != ''">
                        Diets:
                        <p *ngFor="let diet of this.recipe.diets">
                            {{diet.ime}}
                        </p>
                    </div>
                    <div class="difficultyWrapper">
                        <div *ngIf="this.recipe.zahtevnost" class="difficulty" [class.difficultyOnly] = "!this.recipe.diets">
                            <ng-container *ngFor="let i of difficultyRange">
                                <div *ngIf="i >= recipe.zahtevnost.idzahtevnosti" class="star-full"></div>
                                <div *ngIf="i < recipe.zahtevnost.idzahtevnosti" class="star-empty"></div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="!recipe.priprave || recipe.priprave.length >= 1 && !(recipe.priprave[0].naziv === '')">
                        Prep types: &nbsp;
                        <p *ngFor="let preparationType of recipe.priprave; last as isLast">
                            {{preparationType.naziv}}<span *ngIf="!isLast">, </span> &nbsp;
                        </p>
                    </div>
                    <div class="time">
                        <p [class.t-center]="!recipe.priprave || recipe.priprave.length <= 1 && recipe.priprave[0].naziv === ''" 
                        [class.t-right] = "recipe.priprave && recipe.priprave.length >= 1 && recipe.priprave[0].naziv != ''"
                        >
                            {{this.recipe.caspriprave}}min
                        </p>
                    </div>
                </div>
                <div class="row column">
                    <p class="attributeTitle">Ingredients</p>
                    <p *ngFor="let ingredient of recipe.sestavine">
                        {{ingredient.pivot.kolicina}}{{ingredient.pivot.enota}} {{ingredient.ime}}
                    </p>
                </div>
            </div>
        </div>

            <div class="leftColumn"></div>
            <div class="steps">
                <p>Steps</p>
                <div [innerHtml] = "this.navodila"></div>
            </div>
            <div class="rightColumn"></div>

</div>
<div class="bottomPadding"></div>
