div{
    overflow: hidden;
}

.ingredientGridWrapper{
    height: 25vh;
    width: 100%;
    overflow-y: scroll;
}

mat-grid-tile{
    height:min-content;
    display:block;
}

p{
    display:block;
}