@import "../../../styles.scss";

.selected-filters-container{
    height: 5vh;
    display: flex;
    justify-content: center;

    .selected-filters{
        display: flex;
        height: 100%;
        width: 98%;
        border-radius: 13px;
        justify-content: center;
        align-items: center;

        color:$contentTextColor;
        font-family: 'Playfair Display', serif;
        background-color: #8F130D;
    }
    p{
        padding: 0;
        margin: 0;
    }
}